USE [PetPlus]
GO
/****** Objeto:  Table [dbo].[AGENDAMENTO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDAMENTO](
	[id_agendamento] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[id_pet] [bigint] NOT NULL,
	[id_servico] [bigint] NOT NULL,
	[id_colaborador] [bigint] NOT NULL,
	[data_hora_inicio] [datetime2](7) NOT NULL,
	[data_hora_fim] [datetime2](7) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[observacoes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_agendamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[BLOQUEIO_AGENDA]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOQUEIO_AGENDA](
	[id_bloqueio] [bigint] IDENTITY(1,1) NOT NULL,
	[id_colaborador] [bigint] NOT NULL,
	[data_hora_inicio] [datetime2](7) NOT NULL,
	[data_hora_fim] [datetime2](7) NOT NULL,
	[motivo] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_bloqueio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CATEGORIA_PRODUTO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_PRODUTO](
	[id_categoria] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[descricao] [nvarchar](max) NULL,
	[ativo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[CLIENTE]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[id_cliente] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[telefone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[endereco] [nvarchar](max) NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CLIENTE_USUARIO] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[COLABORADOR]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLABORADOR](
	[id_colaborador] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[tipo] [nvarchar](30) NULL,
	[telefone] [nvarchar](20) NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_colaborador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_COLABORADOR_USUARIO] UNIQUE NONCLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[DISPONIBILIDADE_COLABORADOR]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISPONIBILIDADE_COLABORADOR](
	[id_disponibilidade] [bigint] IDENTITY(1,1) NOT NULL,
	[id_colaborador] [bigint] NOT NULL,
	[dia_semana] [nvarchar](10) NOT NULL,
	[hora_inicio] [time](7) NOT NULL,
	[hora_fim] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_disponibilidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[FORNECEDOR]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORNECEDOR](
	[id_fornecedor] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[nome] [nvarchar](150) NOT NULL,
	[cnpj] [nvarchar](18) NULL,
	[telefone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[endereco] [nvarchar](max) NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[HISTORICO_PET]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HISTORICO_PET](
	[id_historico] [bigint] IDENTITY(1,1) NOT NULL,
	[id_pet] [bigint] NOT NULL,
	[id_colaborador] [bigint] NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[descricao] [nvarchar](max) NOT NULL,
	[data_registro] [datetime2](7) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_historico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[ITEM_VENDA]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_VENDA](
	[id_item_venda] [bigint] IDENTITY(1,1) NOT NULL,
	[id_venda] [bigint] NOT NULL,
	[id_produto] [bigint] NOT NULL,
	[quantidade] [int] NOT NULL,
	[preco_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[MOVIMENTACAO_ESTOQUE]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMENTACAO_ESTOQUE](
	[id_movimentacao] [bigint] IDENTITY(1,1) NOT NULL,
	[id_produto] [bigint] NOT NULL,
	[tipo] [nvarchar](10) NOT NULL,
	[quantidade] [int] NOT NULL,
	[motivo] [nvarchar](150) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_movimentacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[NOTIFICACAO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACAO](
	[id_notificacao] [bigint] IDENTITY(1,1) NOT NULL,
	[id_usuario] [bigint] NOT NULL,
	[titulo] [nvarchar](150) NOT NULL,
	[mensagem] [nvarchar](max) NOT NULL,
	[tipo] [nvarchar](50) NOT NULL,
	[lida] [bit] NOT NULL,
	[data_leitura] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_notificacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PAGAMENTO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGAMENTO](
	[id_pagamento] [bigint] IDENTITY(1,1) NOT NULL,
	[id_venda] [bigint] NOT NULL,
	[valor] [decimal](10, 2) NOT NULL,
	[forma_pagamento] [nvarchar](30) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[data_pagamento] [datetime2](7) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PERFIL]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFIL](
	[id_perfil] [bigint] IDENTITY(1,1) NOT NULL,
	[nome] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_perfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PET]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PET](
	[id_pet] [bigint] IDENTITY(1,1) NOT NULL,
	[id_cliente] [bigint] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[especie] [nvarchar](50) NOT NULL,
	[raca] [nvarchar](100) NULL,
	[porte] [nvarchar](20) NULL,
	[data_nascimento] [date] NULL,
	[observacoes_saude] [nvarchar](max) NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PETSHOP]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PETSHOP](
	[id_petshop] [bigint] IDENTITY(1,1) NOT NULL,
	[razao_social] [nvarchar](100) NOT NULL,
	[nome_fantasia] [nvarchar](100) NOT NULL,
	[cnpj] [nvarchar](18) NULL,
	[telefone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[endereco] [nvarchar](max) NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_petshop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[PRODUTO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[id_produto] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[id_categoria] [bigint] NOT NULL,
	[id_fornecedor] [bigint] NULL,
	[nome] [nvarchar](150) NOT NULL,
	[descricao] [nvarchar](max) NULL,
	[codigo_barras] [nvarchar](50) NULL,
	[preco_custo] [decimal](10, 2) NOT NULL,
	[preco_venda] [decimal](10, 2) NOT NULL,
	[quantidade_estoque] [int] NOT NULL,
	[estoque_minimo] [int] NOT NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[SERVICO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICO](
	[id_servico] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[nome] [nvarchar](100) NOT NULL,
	[descricao] [nvarchar](max) NULL,
	[duracao_minutos] [int] NOT NULL,
	[preco] [decimal](10, 2) NOT NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_servico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[SERVICO_PRODUTO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SERVICO_PRODUTO](
	[id_servico] [bigint] NOT NULL,
	[id_produto] [bigint] NOT NULL,
	[quantidade] [decimal](10, 3) NOT NULL,
 CONSTRAINT [PK_SERVICO_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[id_servico] ASC,
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[USUARIO]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[id_usuario] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[id_perfil] [bigint] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[senha_hash] [nvarchar](255) NOT NULL,
	[ativo] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[VENDA]    Data do Script: 30/09/2026 15:32:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[id_venda] [bigint] IDENTITY(1,1) NOT NULL,
	[id_petshop] [bigint] NOT NULL,
	[id_cliente] [bigint] NULL,
	[id_usuario] [bigint] NOT NULL,
	[data_venda] [datetime2](7) NOT NULL,
	[valor_total] [decimal](10, 2) NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[observacoes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AGENDAMENTO] ADD  DEFAULT ('pendente') FOR [status]
GO
ALTER TABLE [dbo].[AGENDAMENTO] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[CATEGORIA_PRODUTO] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[COLABORADOR] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[COLABORADOR] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[FORNECEDOR] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[FORNECEDOR] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[HISTORICO_PET] ADD  DEFAULT (sysdatetime()) FOR [data_registro]
GO
ALTER TABLE [dbo].[HISTORICO_PET] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[NOTIFICACAO] ADD  DEFAULT ((0)) FOR [lida]
GO
ALTER TABLE [dbo].[NOTIFICACAO] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PAGAMENTO] ADD  DEFAULT ('pendente') FOR [status]
GO
ALTER TABLE [dbo].[PAGAMENTO] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PET] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[PET] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PETSHOP] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[PETSHOP] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((0)) FOR [preco_custo]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((0)) FOR [quantidade_estoque]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((0)) FOR [estoque_minimo]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[SERVICO] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[SERVICO] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO] ADD  DEFAULT ((1)) FOR [quantidade]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [ativo]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[VENDA] ADD  DEFAULT (sysdatetime()) FOR [data_venda]
GO
ALTER TABLE [dbo].[VENDA] ADD  DEFAULT ((0)) FOR [valor_total]
GO
ALTER TABLE [dbo].[VENDA] ADD  DEFAULT ('pendente') FOR [status]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_COLABORADOR] FOREIGN KEY([id_colaborador])
REFERENCES [dbo].[COLABORADOR] ([id_colaborador])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_COLABORADOR]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_PET] FOREIGN KEY([id_pet])
REFERENCES [dbo].[PET] ([id_pet])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_PET]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_PETSHOP]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_AGENDAMENTO_SERVICO] FOREIGN KEY([id_servico])
REFERENCES [dbo].[SERVICO] ([id_servico])
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [FK_AGENDAMENTO_SERVICO]
GO
ALTER TABLE [dbo].[BLOQUEIO_AGENDA]  WITH CHECK ADD  CONSTRAINT [FK_BLOQUEIO_COLABORADOR] FOREIGN KEY([id_colaborador])
REFERENCES [dbo].[COLABORADOR] ([id_colaborador])
GO
ALTER TABLE [dbo].[BLOQUEIO_AGENDA] CHECK CONSTRAINT [FK_BLOQUEIO_COLABORADOR]
GO
ALTER TABLE [dbo].[CATEGORIA_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIA_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[CATEGORIA_PRODUTO] CHECK CONSTRAINT [FK_CATEGORIA_PETSHOP]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_PETSHOP]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_USUARIO]
GO
ALTER TABLE [dbo].[COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_COLABORADOR_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[COLABORADOR] CHECK CONSTRAINT [FK_COLABORADOR_PETSHOP]
GO
ALTER TABLE [dbo].[COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_COLABORADOR_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[COLABORADOR] CHECK CONSTRAINT [FK_COLABORADOR_USUARIO]
GO
ALTER TABLE [dbo].[DISPONIBILIDADE_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [FK_DISPONIBILIDADE_COLABORADOR] FOREIGN KEY([id_colaborador])
REFERENCES [dbo].[COLABORADOR] ([id_colaborador])
GO
ALTER TABLE [dbo].[DISPONIBILIDADE_COLABORADOR] CHECK CONSTRAINT [FK_DISPONIBILIDADE_COLABORADOR]
GO
ALTER TABLE [dbo].[FORNECEDOR]  WITH CHECK ADD  CONSTRAINT [FK_FORNECEDOR_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[FORNECEDOR] CHECK CONSTRAINT [FK_FORNECEDOR_PETSHOP]
GO
ALTER TABLE [dbo].[HISTORICO_PET]  WITH CHECK ADD  CONSTRAINT [FK_HISTORICO_COLABORADOR] FOREIGN KEY([id_colaborador])
REFERENCES [dbo].[COLABORADOR] ([id_colaborador])
GO
ALTER TABLE [dbo].[HISTORICO_PET] CHECK CONSTRAINT [FK_HISTORICO_COLABORADOR]
GO
ALTER TABLE [dbo].[HISTORICO_PET]  WITH CHECK ADD  CONSTRAINT [FK_HISTORICO_PET] FOREIGN KEY([id_pet])
REFERENCES [dbo].[PET] ([id_pet])
GO
ALTER TABLE [dbo].[HISTORICO_PET] CHECK CONSTRAINT [FK_HISTORICO_PET]
GO
ALTER TABLE [dbo].[ITEM_VENDA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENDA_PRODUTO] FOREIGN KEY([id_produto])
REFERENCES [dbo].[PRODUTO] ([id_produto])
GO
ALTER TABLE [dbo].[ITEM_VENDA] CHECK CONSTRAINT [FK_ITEM_VENDA_PRODUTO]
GO
ALTER TABLE [dbo].[ITEM_VENDA]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_VENDA_VENDA] FOREIGN KEY([id_venda])
REFERENCES [dbo].[VENDA] ([id_venda])
GO
ALTER TABLE [dbo].[ITEM_VENDA] CHECK CONSTRAINT [FK_ITEM_VENDA_VENDA]
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMENTACAO_PRODUTO] FOREIGN KEY([id_produto])
REFERENCES [dbo].[PRODUTO] ([id_produto])
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE] CHECK CONSTRAINT [FK_MOVIMENTACAO_PRODUTO]
GO
ALTER TABLE [dbo].[NOTIFICACAO]  WITH CHECK ADD  CONSTRAINT [FK_NOTIFICACAO_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[NOTIFICACAO] CHECK CONSTRAINT [FK_NOTIFICACAO_USUARIO]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PAGAMENTO_VENDA] FOREIGN KEY([id_venda])
REFERENCES [dbo].[VENDA] ([id_venda])
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [FK_PAGAMENTO_VENDA]
GO
ALTER TABLE [dbo].[PET]  WITH CHECK ADD  CONSTRAINT [FK_PET_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[PET] CHECK CONSTRAINT [FK_PET_CLIENTE]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_CATEGORIA] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[CATEGORIA_PRODUTO] ([id_categoria])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_FORNECEDOR] FOREIGN KEY([id_fornecedor])
REFERENCES [dbo].[FORNECEDOR] ([id_fornecedor])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_FORNECEDOR]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_PRODUTO_PETSHOP]
GO
ALTER TABLE [dbo].[SERVICO]  WITH CHECK ADD  CONSTRAINT [FK_SERVICO_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[SERVICO] CHECK CONSTRAINT [FK_SERVICO_PETSHOP]
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_SERVICO_PRODUTO_PRODUTO] FOREIGN KEY([id_produto])
REFERENCES [dbo].[PRODUTO] ([id_produto])
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO] CHECK CONSTRAINT [FK_SERVICO_PRODUTO_PRODUTO]
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_SERVICO_PRODUTO_SERVICO] FOREIGN KEY([id_servico])
REFERENCES [dbo].[SERVICO] ([id_servico])
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO] CHECK CONSTRAINT [FK_SERVICO_PRODUTO_SERVICO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PERFIL] FOREIGN KEY([id_perfil])
REFERENCES [dbo].[PERFIL] ([id_perfil])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PERFIL]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_PETSHOP]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_CLIENTE]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_PETSHOP] FOREIGN KEY([id_petshop])
REFERENCES [dbo].[PETSHOP] ([id_petshop])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_PETSHOP]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_VENDA_USUARIO] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIO] ([id_usuario])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_VENDA_USUARIO]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [CK_AGENDAMENTO_HORARIO] CHECK  (([data_hora_fim]>[data_hora_inicio]))
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [CK_AGENDAMENTO_HORARIO]
GO
ALTER TABLE [dbo].[AGENDAMENTO]  WITH CHECK ADD  CONSTRAINT [CK_AGENDAMENTO_STATUS] CHECK  (([status]='em_andamento' OR [status]='cancelado' OR [status]='concluido' OR [status]='confirmado' OR [status]='pendente'))
GO
ALTER TABLE [dbo].[AGENDAMENTO] CHECK CONSTRAINT [CK_AGENDAMENTO_STATUS]
GO
ALTER TABLE [dbo].[BLOQUEIO_AGENDA]  WITH CHECK ADD  CONSTRAINT [CK_BLOQUEIO_HORARIO] CHECK  (([data_hora_fim]>[data_hora_inicio]))
GO
ALTER TABLE [dbo].[BLOQUEIO_AGENDA] CHECK CONSTRAINT [CK_BLOQUEIO_HORARIO]
GO
ALTER TABLE [dbo].[DISPONIBILIDADE_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [CK_DISPONIBILIDADE_DIA] CHECK  (([dia_semana]='domingo' OR [dia_semana]='sabado' OR [dia_semana]='sexta' OR [dia_semana]='quinta' OR [dia_semana]='quarta' OR [dia_semana]='terca' OR [dia_semana]='segunda'))
GO
ALTER TABLE [dbo].[DISPONIBILIDADE_COLABORADOR] CHECK CONSTRAINT [CK_DISPONIBILIDADE_DIA]
GO
ALTER TABLE [dbo].[DISPONIBILIDADE_COLABORADOR]  WITH CHECK ADD  CONSTRAINT [CK_DISPONIBILIDADE_HORARIO] CHECK  (([hora_fim]>[hora_inicio]))
GO
ALTER TABLE [dbo].[DISPONIBILIDADE_COLABORADOR] CHECK CONSTRAINT [CK_DISPONIBILIDADE_HORARIO]
GO
ALTER TABLE [dbo].[ITEM_VENDA]  WITH CHECK ADD  CONSTRAINT [CK_ITEM_VENDA_PRECO] CHECK  (([preco_unitario]>=(0)))
GO
ALTER TABLE [dbo].[ITEM_VENDA] CHECK CONSTRAINT [CK_ITEM_VENDA_PRECO]
GO
ALTER TABLE [dbo].[ITEM_VENDA]  WITH CHECK ADD  CONSTRAINT [CK_ITEM_VENDA_QUANTIDADE] CHECK  (([quantidade]>(0)))
GO
ALTER TABLE [dbo].[ITEM_VENDA] CHECK CONSTRAINT [CK_ITEM_VENDA_QUANTIDADE]
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE]  WITH CHECK ADD  CONSTRAINT [CK_MOVIMENTACAO_QUANTIDADE] CHECK  (([quantidade]>(0)))
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE] CHECK CONSTRAINT [CK_MOVIMENTACAO_QUANTIDADE]
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE]  WITH CHECK ADD  CONSTRAINT [CK_MOVIMENTACAO_TIPO] CHECK  (([tipo]='saida' OR [tipo]='entrada'))
GO
ALTER TABLE [dbo].[MOVIMENTACAO_ESTOQUE] CHECK CONSTRAINT [CK_MOVIMENTACAO_TIPO]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [CK_PAGAMENTO_FORMA] CHECK  (([forma_pagamento]='transferencia' OR [forma_pagamento]='debito' OR [forma_pagamento]='credito' OR [forma_pagamento]='pix' OR [forma_pagamento]='dinheiro'))
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [CK_PAGAMENTO_FORMA]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [CK_PAGAMENTO_STATUS] CHECK  (([status]='estornado' OR [status]='recusado' OR [status]='aprovado' OR [status]='pendente'))
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [CK_PAGAMENTO_STATUS]
GO
ALTER TABLE [dbo].[PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [CK_PAGAMENTO_VALOR] CHECK  (([valor]>(0)))
GO
ALTER TABLE [dbo].[PAGAMENTO] CHECK CONSTRAINT [CK_PAGAMENTO_VALOR]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [CK_PRODUTO_ESTOQUE] CHECK  (([quantidade_estoque]>=(0)))
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [CK_PRODUTO_ESTOQUE]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [CK_PRODUTO_ESTOQUE_MINIMO] CHECK  (([estoque_minimo]>=(0)))
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [CK_PRODUTO_ESTOQUE_MINIMO]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [CK_PRODUTO_PRECO_CUSTO] CHECK  (([preco_custo]>=(0)))
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [CK_PRODUTO_PRECO_CUSTO]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [CK_PRODUTO_PRECO_VENDA] CHECK  (([preco_venda]>=(0)))
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [CK_PRODUTO_PRECO_VENDA]
GO
ALTER TABLE [dbo].[SERVICO]  WITH CHECK ADD  CONSTRAINT [CK_SERVICO_DURACAO] CHECK  (([duracao_minutos]>(0)))
GO
ALTER TABLE [dbo].[SERVICO] CHECK CONSTRAINT [CK_SERVICO_DURACAO]
GO
ALTER TABLE [dbo].[SERVICO]  WITH CHECK ADD  CONSTRAINT [CK_SERVICO_PRECO] CHECK  (([preco]>=(0)))
GO
ALTER TABLE [dbo].[SERVICO] CHECK CONSTRAINT [CK_SERVICO_PRECO]
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO]  WITH CHECK ADD  CONSTRAINT [CK_SERVICO_PRODUTO_QUANTIDADE] CHECK  (([quantidade]>(0)))
GO
ALTER TABLE [dbo].[SERVICO_PRODUTO] CHECK CONSTRAINT [CK_SERVICO_PRODUTO_QUANTIDADE]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [CK_VENDA_STATUS] CHECK  (([status]='cancelada' OR [status]='concluida' OR [status]='pendente'))
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [CK_VENDA_STATUS]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [CK_VENDA_VALOR] CHECK  (([valor_total]>=(0)))
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [CK_VENDA_VALOR]
GO
